@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');

html,body {
	position: relative;
	height: 100%;
	overflow-x: hidden;
}
html{
	font-size:20px;
}
body {
	font-size:1rem;
}
*{
	margin:0;
	padding:0;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
}
header{
	width:100%;
	height:140px;
	background-color:#20283b;
	position:sticky;
	z-index:100;
	top:0;
	left:0;
}
#header-top{
	width:1400px;
	height:70px;
	margin:auto;
	position:relative;
}
#header-top ul li{
	float:left;
}
#header-top>ul>li>a{	
	color:#fff;
	margin-top:30px;
	margin-right:10px;
	display:block;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:0.8rem;
}
a.lang1{
	text-decoration:underline;
}
a.lang2{
	opacity:.6;
}
a.lang3{
	opacity:.6;
}
.logo{
	width:125px;
	height:30px;
	position:absolute;
	left:calc(50% - 62px);
	top:35px;
}
.logo img{
	width:6.15rem;
	height:1.5rem;
}
.sch{
	position:absolute;
	right:0;
	top:31px;
}
.sch img{
	width:0.9rem;
	height:0.9rem;
}

input[type="text2"]{
	right:0;
	position:absolute;
	top:31px;
	border-radius:17px;
	outline:none;
	border:1px solid #fff;
	width:8rem;
	height:1.4rem;
	padding-left:37px;
	background:url("../img/header_sch.png") no-repeat 12px center;
	background-size:0.9rem 0.9rem;
	display:none;
	color:#fff;
	font-size:0.7rem;
}

.clear{
	position:absolute;
	top:70%;
	transform:translateY(-50%);
	width:0.75rem;
	height:0.75rem;
	right:15px;
	cursor:pointer;
	display:flex;
	justify-content:center;
	align-items:center;
	right:3px;
	display:none;
}
.clear::before{
	position:absolute;
	content:"";
	width:1px;
	height:0.5rem;
	background:#999;
	transform:rotate(45deg);
}
.clear::after{
	position:absolute;
	content:"";
	width:1px;
	height:0.5rem;
	background:#999;
	transform:rotate(315deg);
}
::placeholder {
	color:#999;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:#999;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color:#999;
}
.btn{
	color:#fff;
	position:absolute;
	top:20px;
	display:none;
}
.overlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #20283b;
	overflow-y: hidden;
	transition: 0.3s;
}

.overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
    color:#fff;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	display: block;
	transition: 0.3s;
	font-size:0.73rem;
}

.overlay a:hover, .overlay a:focus {
	color: #92b4e2;
}

.overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size:38px;
}
.overlay .closebtn:hover{
	color:#f1f1f1;
}


@media screen and (max-height: 450px) {
	.overlay {overflow-y: auto;}
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
}
#header-top::after{
	content:"";
	display:block;
	clear:both;
}
#header-bottom{
	width:1400px;
	margin:auto;
	height:70px;
	text-align:center;
}
#gnb ul{
	text-align:center;
}
#gnb ul li{
	display:inline-block;
	margin-top:28px;
	position:relative;
}
#gnb li a{
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:0.95rem;
	display:block;
	padding:0 38px;
}

#gnb li a:hover{
	color:#92b4e2;
}
#gnb li a:hover::after{
	content:"";
	display:block;
	width:calc(100% - 75px);
	position:absolute;
	bottom:-20px;
	border-bottom:3px solid #92b4e2;
}
header::after{
	content:"";
	display:block;
	clear:both;
}
#gnb li a.active{
	color:#92b4e2;
}
#gnb li a.active::after{
	color:#92b4e2;
	content:"";
	display:block;
	width:calc(100% - 75px);
	position:absolute;
	bottom:-20px;
	border-bottom:3px solid #92b4e2;
}

/* section1 */
#section1{
	width:100%;
	height:460px;
	background:url("../img/img_detail_banner_fontana-scaled.jpg") center 20%;
	background-size:cover;
	position:relative;
}
#section1 h2{
	font-family: 'Roboto', sans-serif;
	color:#fff;
	font-size:3rem;
	text-align:center;
	width:100%;
	top:41%;
	position:absolute;
	font-weight:400;
}

/* section2 */
#section2{
	width:1300px;
	margin:auto;
	margin-top:60px;
}
.section2-box{
	width:1300px;
	height:40px;
}
.section2-box h3{
	font-size:1rem;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:400;
	color:#444;
	float:left;
}
.section2-box input{
	width:160px;
	border:1px solid #ccc;
	padding:7px;
	outline:none;
	float:right;
}
.section2-box input[type="text"]{
	background:url("../img/header_sch.png") no-repeat 150px 7px;
}
::placeholder {
	color:#999;
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color:#999;
}

::-ms-input-placeholder { /* Microsoft Edge */
	color:#999;
}

.section2-box2{
	background-color:#e6d7c6;
	width: 1300px;
	height: 480px;
	margin-top:30px;
	position:relative;
}
.section2-box2 div{
	float:left;
	margin-right:45px;
}
.section2-box2 img{
	padding:33px;
	float:left;
	width:675px;
	height:415px;
}
.txt-box{
	width:450px;
	height:450px;
	float:right;
	position:relative;
}
h2.txt1{
	position:absolute;
	left:0;
	top:23%;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	color:#444;
	width:450px;
	height:123px;
	font-size:1.55rem;
	border-bottom:1px solid #f6ecdf;
}
h2.txt1 span{
	font-family: 'Noto Sans KR', sans-serif;
	text-align:center;
	font-weight:300;
	color:#444;
}
h4.txt2{
	position:absolute;
	left:0;
	top:60%;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	color:#444;
	font-size:0.8rem;
	width:450px;
	height:50px;	
}
.more{
	text-align:center;
	border:1px solid #444;
	border-radius:17px;
	position:absolute;
	left:0;
	bottom:12%;
	transition-property:background-color, color;
	transition-duration:1s;
}
.more>a{
	color:#444;
	padding:8px 25px;
	display:block;
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:0.65rem;
}

.more:hover{
	background-color:#20283b;
}
.more>a:hover{
	color:#fff;
}



/* section3 */
#section3{
	width:1300px;
	margin:auto;
	margin-top:60px;
	height:1250px;
}
.row{
	width:1300px;
	height:560px;
}

.content-box1{
	float:left;
	width:400px;
	height:420px;
	margin-right:3.7%;
}
.content-box1 a{
	color:#444;
}
.content-box2{
	float:left;
	width:400px;
	height:420px;
	margin-right:3.7%;
}
.content-box2 a{
	color:#444;
}
.content-box3{
	float:left;
	width:400px;
	height:420px;
}
.content-box3 a{
	color:#444;
}
.content-txt1{
	font-size:0.9rem;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
	margin-top:7px;
}
.content-txt2{
	font-size:0.65rem;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:300;
	margin-top:5px;
}

.row:nth-child(3){
	display:none;
}
.more2{
	text-align:center;
	border:1px solid #000;
	border-radius:17px;
	float:left;
	margin-top:-110px;
	position:absolute;
	left:50%;
	transform: translate(-50%, -50%);
	margin-top:30px;
	transition-property:background-color, color;
	transition-duration:1s;
}
.more2 a{
	color:#444;
	padding:8px 25px;
	display:block;
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:0.65rem;
}

.more2:hover{
	background-color:#20283b;
}
.more2>a:hover{
	color:#fff;
}
.more3{
	text-align:center;
	border:1px solid #000;
	border-radius:17px;
	float:left;
	margin-top:-110px;
	position:absolute;
	left:50%;
	transform: translate(-50%, -50%);
	margin-top:30px;
	transition-property:background-color, color;
	transition-duration:1s;
	display:none;
}
.more3 a{
	color:#444;
	padding:8px 25px;
	display:block;
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:0.65rem;
}

.more3:hover{
	background-color:#20283b;
}
.more3>a:hover{
	color:#fff;
}
.more4{
	text-align:center;
	border:1px solid #000;
	border-radius:17px;
	float:left;
	margin-top:-110px;
	position:absolute;
	left:50%;
	transform: translate(-50%, -50%);
	margin-top:30px;
	transition-property:background-color, color;
	transition-duration:1s;
	display:none;
}
.more4 a{
	color:#444;
	padding:8px 25px;
	display:block;
	text-decoration:none;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:0.65rem;
}

.more4:hover{
	background-color:#20283b;
}
.more4>a:hover{
	color:#fff;
}

/* footer */
footer{
	width:100%;
	height:310px;
	background-color:#20283b;
	position:relative;
}
.footer-inner{
	width:1300px;
	height:310px;
	margin:auto;
}
.footer-top{
	width:1300px;
	height:140px;
	border-bottom:1px solid #5d5d5d;
}
.logo3{
	width:125px;
	height:30px;
	float:left;
	margin-top:65px;
	margin-right:120px;
}
ul.footer-gnb>li{
	float:left;
	margin-top:68px;
}
ul.footer-gnb>li>a{
	color:#949494;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
	font-size:0.8rem;
	padding:12px;
	margin-right:24px;
}
ul.footer-gnb>li>a:hover{
	text-decoration:underline;
}
.sns{
	float:right;
}
.sns img{
	margin-top:65px;
	width:30px;
	height:30px;
}
.sns a{
	display:block;
}
.footer-top::after{
	content:"";
	display:block;
	clear:both;
}
.footer-bottom{
	width:1300px;
	height:160px;
}
address{
	color:#949494;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:300;
	font-size:0.6rem;
	font-style:normal;
	margin-top:35px;
	line-height:2.2;
	width:780px;
	float:left;
}
.ad{
	float:right;
	margin-top:35px;
}
.ad a{
	color:#949494;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:300;
	font-size:0.6rem;
}

@media all and (max-width:1400px){
	#header-top{
		width:100%;
		margin:auto;
	}
	#header-bottom{
		width:100%;
	}
	#header-top>ul{
		margin-left:20px;
	}
	.sch img{
		margin-right:10px;
	}
	input[type="text2"]{
		right:15px;
		top:31px;
		border-radius:17px;
		width:8rem;
		height:1.4rem;
		padding-left:37px;
		background-size:0.9rem 0.9rem;
		font-size:0.7rem;
	}
	.clear{
		top:71%;
		width:0.75rem;
		height:0.75rem;
		right:15px;
		display:none;
	}
	#gnb li a.active::after{
		bottom:-20px;
	}
	#section1{
		width:100%;
		height:420px;
	}
	footer{
		width:100%;
		padding:0 30px;
	}
	.footer-inner{
		width:100%;
		height:310px;
		margin:auto;
	}
	.footer-top{
		width:95.5%;
		height:140px;
		border-bottom:1px solid #5d5d5d;
	}
	.footer-bottom{
		width:95.5%;
		height:160px;
	}
	.sns{
		margin-right:0px;
	}
	.ad{
		margin-right:0px;
	}

	#section2{
		width:1100px;
		margin:auto;
		margin-top:60px;
	}
	.section2-box{
		width:100%;
		height:40px;
	}
	.section2-box2{
		background-color:#e6d7c6;
		width: 100%;
		height: 420px;
		margin-top:30px;
	}
	.section2-box2 img{
		padding:33px;
		float:left;
		width:500px;
		height:350px;
	}
	.txt-box{
		width:380px;
		height:420px;
		float:right;
	}
	h2.txt1{
		width:380px;
		height:110px;
		font-size:1.3rem;
		border-bottom:1px solid #f6ecdf;
	}
	h4.txt2{
		font-size:0.7rem;
		width:380px;
		height:50px;
	}
	.more>a{
		padding:7px 25px;
		font-size:0.6rem;
	}
	#section3{
		width:100%;
		margin-top:60px;
		height:1250px;
	}
	.row{
		width:1100px;
		height:520px;
		margin:auto;
	}
	.content-box1{
		float:left;
		width:333px;
		height:380px;
		margin-right:50px;
	}
	.content-box1 img{
		width:333px;
		height:380px;
	}
	.content-box2{
		float:left;
		width:333px;
		height:380px;
		margin-right:50px;
	}
	.content-box2 img{
		width:333px;
		height:380px;
	}
	.content-box3{
		float:left;
		width:333px;
		height:380px;
	}
	.content-box3 img{
		width:333px;
		height:380px;
	}
	.content-txt1{
		font-size:0.8rem;
	}
	.content-txt2{
		font-size:0.60rem;
	}
	#section1 h2{
		font-size:2.7rem;
	}
}

@media all and (max-width:1280px){
	input[type="text2"]{
		right:15px;
		top:31px;
		border-radius:17px;
		width:7rem;
		height:1.4rem;
		padding-left:37px;
		background-size:0.9rem 0.9rem;
		font-size:0.7rem;
	}
}

@media all and (max-width:1160px){
	body,html {
		overflow-x: hidden;
	}
	#header-top{
		width:100%;
		margin:auto;
	}
	#header-bottom{
		width:100%;
	}
	#header-top>ul{
		margin-left:20px;
	}
	.sch img{
		margin-right:10px;
	}
	#gnb li a.active::after{
		bottom:-20px;
	}
	#section1{
		width:100%;
		height:400px;
	}
	#section1 h2{
		font-size:2.4rem;
	}

	#section2{
		width:900px;
		margin:auto;
		margin-top:60px;
	}
	.section2-box h3{
		font-size:0.9rem;
	}
	.section2-box{
		width:100%;
		height:40px;
	}
	.section2-box input{
		width:160px;
		border:1px solid #ccc;
		padding:5px;
		outline:none;
		float:right;
	}
	.section2-box input[type="text"]{
		background:url("../img/header_sch.png") no-repeat 150px 5px;
	}
	.section2-box2{
		background-color:#e6d7c6;
		width: 100%;
		height: 400px;
		margin-top:30px;
	}
	.section2-box2 img{
		padding:33px;
		float:left;
		width:420px;
		height:335px;
	}
	.txt-box{
		width:300px;
		height:400px;
		float:right;
	}
	h2.txt1{
		width:300px;
		height:110px;
		font-size:1.0rem;
		border-bottom:1px solid #f6ecdf;
	}
	h4.txt2{
		font-size:0.6rem;
		width:300px;
		height:50px;
	}
	.more>a{
		padding:7px 25px;
		font-size:0.6rem;
	}
	#section3{
		width:100%;
		margin-top:60px;
		height:1750px;
	}
	.row{
		width:900px;
		height:520px;
		margin:auto;
	}
	.more2{
		display:none;
	}
	.more4{
		display:block;
		margin-top:550px;
	}
	.content-box1{
		float:left;
		width:425px;
		height:400px;
		margin-right:50px;
	}
	.content-box1 img{
		width:425px;
		height:400px;
	}
	.content-box2{
		float:left;
		width:425px;
		height:400px;
		margin-right:0;
	}
	.content-box2 img{
		width:425px;
		height:400px;
	}
	.content-box3{
		float:left;
		width:425px;
		height:400px;
		margin-top:120px;
		margin-right:0px;
	}
	.content-box3 img{
		width:425px;
		height:400px;
	}
	.box{
		margin-right:0;
		margin-left:50px;
	}
	.box2{
		margin-top:120px;
		margin-right:50px;
	}
	.box4{
		margin-top:120px;
		margin-right:50px;
	}
	.box5{
		margin-top:120px;
	}

	footer{
		width:100%;
		padding:0 30px;
	}
	.footer-inner{
		width:100%;
		height:310px;
		margin:auto;
	}
	.footer-top{
		width:95%;
		height:140px;
		border-bottom:1px solid #5d5d5d;
	}
	.footer-bottom{
		width:95%;
		height:160px;
	}
	.sns{
		margin-right:0px;
	}
	.ad{
		margin-right:0px;
	}
	.content-txt1{
		font-size:0.8rem;
	}
	.content-txt2{
		font-size:0.60rem;
	}
}

@media all and (max-width:1040px){
	body,html {
		overflow-x: hidden;
	}
	#header-top{
		width:100%;
		margin:auto;
	}
	#header-top>ul{
		margin-left:20px;
	}
	#header-top>ul>li>a{	
		font-size:0.70rem;
	}
	#gnb li a{
		font-size:0.85rem;
	}
	#header-bottom{
		width:100%;
	}
	.logo img{
		width:6.05rem;
		height:1.4rem;
	}
	.sch img{
		width:0.8rem;
		height:0.8rem;
		margin-right:10px;
	}
	input[type="text2"]{
		width:6rem;
		height:1.3rem;
		font-size:0.6rem;
		background-size:0.8rem 0.8rem;
	}
	#gnb li a.active::after{
		bottom:-22px;
	}
	#gnb li a:hover::after{
		bottom:-22px;
	}
	footer{
		width:100%;
		padding:0 20px;
	}
	.footer-inner{
		width:100%;
		height:310px;
		margin:auto;
	}
	.footer-top{
		width:96%;
		height:140px;
		border-bottom:1px solid #5d5d5d;
	}
	.footer-bottom{
		width:96%;
		height:160px;
	}
	.section2-box input{
		width:160px;
		border:1px solid #ccc;
		padding:5px;
		outline:none;
		float:right;
	}
	.section2-box input[type="text"]{
		background:url("../img/header_sch.png") no-repeat 150px 5px;
		background-size:15px 15px;
	}
	#section1{
		width:100%;
		height:360px;
	}
}

@media all and (max-width:960px){
	#section1{
		width:100%;
		height:340px;
	}
	#section2{
		width:525px;
		margin:auto;
		margin-top:60px;
	}
	.section2-box{
		width:525px;
		margin:auto;
	}
	.section2-box h3{
		font-size:0.8rem;
	}
	.section2-box input{
		display:none;
	}
	.section2-box2 img{
		padding:33px;
		float:left;
		width:460px;
		height:335px;
	}
	.section2-box2{
		height: 550px;
		width:525px;
		margin:auto;
		margin-top:20px;
	}
	.txt-box{
		width:460px;
		height:170px;
		float:right;
		margin-top:-30px;
		margin-left:33px;
	}
	h2.txt1{
		width:460px;
		height:75px;
		font-size:1.0rem;
		border-bottom:1px solid #f6ecdf;
		margin-top:-20px;
	}
	h4.txt2{
		font-size:0.6rem;
		width:300px;
		height:50px;
		margin-top:20px;
	}
	.more{
		margin-left:340px;
	}
	.more>a{
		padding:7px 25px;
		font-size:0.55rem;
	}

	#section3{
		width:525px;
		margin-top:60px;
		height:3300px;
		margin:auto;
	}
	.row{
		width:525px;
		height:580px;
		margin:auto;
	}
	.content-box1{
		float:left;
		width:525px;
		height:400px;
		margin-bottom:120px;
		margin-top:50px;
	}
	.content-box1 img{
		width:525px;
		height:400px;
	}
	.content-box2{
		float:left;
		width:525px;
		height:400px;
		margin-right:0;
	}
	.content-box2 img{
		width:525px;
		height:400px;
	}
	.content-box3{
		float:left;
		width:525px;
		height:400px;
		margin-top:120px;
		margin-right:0px;
	}
	.content-box3 img{
		width:525px;
		height:400px;
	}
	.box{
		margin-right:0;
		margin-left:0px;
		margin-top:120px;
	}
	.box2{
		margin-top:0px;
		margin-right:0px;
	}
	.box4{
		margin-top:120px;
		margin-right:0px;
	}
	.box5{
		margin-top:0px;
	}
	.more2{
		display:none;
	}
	.more3{
		display:block;
		margin-top:2030px;
	}
	.more4{
		display:none;
	}
	.more3>a{
		padding:7px 25px;
		font-size:0.55rem;
	}
	footer{
		width:100%;
		padding:0 20px;
	}
	.footer-inner{
		width:100%;
		height:310px;
		margin:auto;
	}
	.footer-top{
		width:96%;
		height:140px;
		border-bottom:1px solid #5d5d5d;
	}
	.footer-bottom{
		width:96%;
		height:160px;
	}
	.logo3{
		width:5.25rem;
		height:1.5rem;
		float:left;
		margin-top:65px;
		margin-right:50px;
	}
	.logo3 img{
		width:5.1rem;
		height:1.35rem;
		float:left;
	}
	ul.footer-gnb>li{
		float:left;
		margin-top:60px;
	}
	ul.footer-gnb>li>a{
		font-size:0.7rem;
		padding:8px;
	}
	address{
		font-size:0.6rem;
		width:500px;
	}
	#section1 h2{
		font-size:2.1rem;
	}
	input[type="text2"]{
		width:6rem;
		height:1.2rem;
		font-size:0.6rem;
		background-size:0.8rem 0.8rem;
	}
	.clear{
		width:0.75rem;
		height:0.75rem;
		top:69%;
	}
	.clear::before{
		width:1px;
		height:0.5rem;
	}
	.clear::after{
		width:1px;
		height:0.5rem;
	}
}

@media all and (max-width:768px){
	body,html {
		overflow-x: hidden;
	}
	#header-top{
		width:100%;
		margin:auto;
	}
	#header-top>ul{
		margin-left:15px;
	}
	#header-top>ul>li>a{	
		font-size:0.6rem;
	}
	#gnb li a{
		font-size:0.8rem;
		padding:0 32px;
	}
	.logo img{
		width:5.95rem;
		height:1.4rem;
	}
	.sch img{
		width:0.7rem;
		height:0.7rem;
		margin-right:10px;
	}
	input[type="text2"]{
		width:5rem;
		height:1.1rem;
		font-size:0.6rem;
		background-size:0.7rem 0.7rem;
	}
	.clear{
		width:0.75rem;
		height:0.75rem;
		top:68%;
	}
	.clear::before{
		width:1px;
		height:0.5rem;
	}
	.clear::after{
		width:1px;
		height:0.5rem;
	}
	#gnb li a:hover::after{
		width:calc(100% - 60px);
	}
	#gnb li a.active::after{
		width:calc(100% - 60px);
	}
	#gnb li a.active::after{
		bottom:-23px;
	}
	#gnb li a:hover::after{
		bottom:-23px;
	}
	footer{
		width:100%;
		padding:0 20px;
	}
	.footer-inner{
		width:100%;
		height:310px;
		margin:auto;
	}
	.footer-top{
		width:95%;
		height:140px;
		border-bottom:1px solid #5d5d5d;
	}
	.footer-bottom{
		width:100%;
		height:160px;
	}
	.logo3{
		width:4.36rem;
		height:1.0rem;
		float:left;
		margin-top:65px;
		margin-right:50px;
	}
	.logo3 img{
		width:5.10rem;
		height:1.4rem;
		float:left;
	}
	ul.footer-gnb>li{
		float:left;
		margin-top:60px;
	}
	ul.footer-gnb>li>a{
		font-size:0.7rem;
		padding:0px;
	}
	address{
		font-size:0.6rem;
	}
	.sns{
		display:none;
	}
	.ad{
		display:none;
	}
	#section1{
		width:100%;
		height:320px;
	}
	#section1 h2{
		font-size:2.0rem;
	}
	.more4{
		display:none;
	}
}

@media all and (max-width:690px){
	body,html {
		overflow-x: hidden;
	}
	#header-top>ul{
		margin-left:10px;
	}
	#header-top>ul>li>a{	
		font-size:0.6rem;
	}
	#gnb li a{
		font-size:0.73rem;
		padding:0 20px;
	}
	#gnb li{
		margin-right:-10px;
	}
	.logo{
		padding-left:10px;
	}
	.logo img{
		width:5.95rem;
		height:1.4rem;
	}
	.sch img{
		width:1.0rem;
		height:1.0rem;
		margin-right:15px;
		margin-top:5px;
	}
	input[type="text2"]{
		width:5rem;
		height:1.2rem;
		font-size:0.6rem;
		background-size:0.6rem 0.6rem;
		margin-top:5px;
		padding-left:30px;
	}
	.clear{
		width:0.75rem;
		height:0.75rem;
		top:75%;
	}
	.clear::before{
		width:1px;
		height:0.5rem;
	}
	.clear::after{
		width:1px;
		height:0.5rem;
	}
	#gnb li a:hover::after{
		width:calc(100% - 40px);
	}
	#gnb li a.active::after{
		width:calc(100% - 40px);
	}
	#section1{
		width:100%;
		height:300px;
	}
	header{
		height:120px;
		border:.1px solid #20283b;
	}
	#header-bottom{
		display:none;
	}
	#header-top ul li{
		display:none;
	}
	.btn{
		color:#fff;
		position:absolute;
		top:25px;
		display:block;
		margin-left:15px;
		}
	#header-top{
		width:100%;
		height:70px;
		margin:auto;
		position:relative;
		margin-top:15px;
	}
	#section2{
		width:430px;
		margin:auto;
		margin-top:60px;
	}
	.section2-box{
		width:430px;
		margin:auto;
	}
	.section2-box h3{
		font-size:0.8rem;
	}
	.section2-box input{
		display:none;
	}
	.section2-box2 img{
		padding:33px;
		float:left;
		width:365px;
		height:335px;
	}
	.section2-box2{
		height: 550px;
		width:430px;
		margin:auto;
		margin-top:20px;
	}
	.txt-box{
		width:365px;
		height:170px;
		float:right;
		margin-top:-30px;
		margin-left:33px;
	}
	h2.txt1{
		width:365px;
		height:75px;
		font-size:0.9rem;
		border-bottom:1px solid #f6ecdf;
		margin-top:-20px;
	}
	h4.txt2{
		font-size:0.6rem;
		width:300px;
		height:50px;
		margin-top:20px;
	}
	.more{
		margin-left:250px;
	}
	.more>a{
		padding:6px 24px;
		font-size:0.50rem;
	}

	#section3{
		width:430px;
		margin-top:60px;
		height:3300px;
		margin:auto;
	}
	.row{
		width:430px;
		height:580px;
		margin:auto;
	}
	.content-box1{
		float:left;
		width:430px;
		height:400px;
		margin-bottom:120px;
		margin-top:50px;
	}
	.content-box1 img{
		width:430px;
		height:400px;
	}
	.content-box2{
		float:left;
		width:430px;
		height:400px;
		margin-right:0;
	}
	.content-box2 img{
		width:430px;
		height:400px;
	}
	.content-box3{
		float:left;
		width:430px;
		height:400px;
		margin-top:120px;
		margin-right:0px;
	}
	.content-box3 img{
		width:430px;
		height:400px;
	}
	.box{
		margin-right:0;
		margin-left:0px;
		margin-top:120px;
	}
	.box2{
		margin-top:0px;
		margin-right:0px;
	}
	.box4{
		margin-top:120px;
		margin-right:0px;
	}
	.box5{
		margin-top:0px;
	}
	.more2{
		display:none;
	}
	.more3{
		display:block;
		margin-top:2030px;
	}
	.more3>a{
		padding:7px 25px;
		font-size:0.55rem;
	}
	.more4{
		display:none;
	}
	#section1 h2{
		font-size:1.9rem;
	}
	.footer-top{
		width:94%;
	}
	ul.footer-gnb>li{
		float:left;
		margin-top:60px;
	}
	ul.footer-gnb>li>a{
		font-size:0.65rem;
		padding:1px;
	}
	address{
		font-size:0.6rem;
		width:100%;
	}
	.sns{
		display:none;
	}
	.ad{
		display:none;
	}
}

@media all and (max-width:576px){
	footer{
		width:100%;
		padding:0 20px;
		height:200px;
	}
	.footer-inner{
		width:100%;
		height:200px;
		margin:auto;
	}
	.footer-top{
		width:93%;
		height:95px;
		border-bottom:1px solid #5d5d5d;
	}
	.footer-bottom{
		width:100%;
		height:100px;
	}
	.logo3{
		width:4.25rem;
		height:1.5rem;
		float:left;
		margin-top:40px;
		margin-right:50px;
	}
	.logo3 img{
		width:4.50rem;
		height:1.1rem;
		float:left;
	}
	ul.footer-gnb>li{
		float:left;
		margin-top:32px;
		margin-left:-10px;
	}
	ul.footer-gnb>li>a{
		font-size:0.45rem;
		padding:1px;
	}
	address{
		font-size:0.40rem;
		margin-top:12px;
		width:100%;
	}
	.sns{
		display:none;
	}
	.ad{
		display:none;
	}
	header{
		height:120px;
		width:100%;
	}
	#header-bottom{
		display:none;
	}
	#header-top ul li{
		display:none;
	}
	.btn{
		color:#fff;
		position:absolute;
		top:25px;
		display:block;
		margin-left:15px;
	}
	#header-top{
		min-width:100%;
		height:70px;
		margin:auto;
		position:relative;
		margin-top:15px;
	}
	.more4{
		display:none;
	}
	input[type="text2"]{
		width:4rem;
		height:1.2rem;
		font-size:0.6rem;
		background-size:0.6rem 0.6rem;
		margin-top:5px;
	}
	.clear{
		width:0.75rem;
		height:0.75rem;
		top:75%;
	}
	.clear::before{
		width:1px;
		height:0.5rem;
	}
	.clear::after{
		width:1px;
		height:0.5rem;
	}
}

@media all and (max-width:499px){
	header{
		height:120px;
		margin-bottom:-20px;
	}
	#header-bottom{
		display:none;
	}
	#header-top ul li{
		display:none;
	}
	.btn{
		color:#fff;
		position:absolute;
		top:25px;
		display:block;
		margin-left:15px;
	}
	#header-top{
		width:100%;
		height:70px;
		margin:auto;
		position:relative;
		margin-top:15px;
	}

	#section1{
		width:100%;
		height:300px;
		margin-top:20px;
	}
	.overlay-content {
		position: relative;
		top: 18%;
		width: 100%;
		text-align: center;
	}

	.overlay .closebtn {
		position: absolute;
		top: 3px;
		right: 45px;
		font-size:38px;
	}
	footer{
		width:100%;
		padding:0 20px;
		height:200px;
	}
	.footer-inner{
		width:100%;
		height:200px;
		margin:auto;
	}
	.footer-top{
		width:93%;
		height:95px;
		border-bottom:1px solid #5d5d5d;
	}
	.footer-bottom{
		width:100%;
		height:100px;
	}
	.logo3{
		width:4.25rem;
		height:1.5rem;
		float:left;
		margin-top:40px;
		margin-right:50px;
	}
	.logo3 img{
		width:4.50rem;
		height:1.1rem;
		float:left;
	}
	ul.footer-gnb>li{
		float:left;
		margin-top:37px;
	}
	ul.footer-gnb>li>a{
		font-size:0.40rem;
		padding:1px;
	}
	address{
		font-size:0.40rem;
		margin-top:22px;
	}
	.sns{
		display:none;
	}
	.ad{
		display:none;
	}
	#section2{
		width:100%;
		margin:auto;
		margin-top:60px;
	}
	.section2-box{
		width:360px;
		margin:auto;
	}
	.section2-box2 img{
		padding:33px;
		float:left;
		width:350px;
		height:335px;
	}
	.section2-box2{
		height: 550px;
		width:100%;
		margin:auto;
		margin-top:20px;
	}
	.txt-box{
		width:350px;
	}
	h2.txt1{
		width:350px;
	}
	.more{
		margin-left:230px;
	}
	#section3{
		width:400px;
	}
	.row{
		width:400px;
	}
	.content-box1{
		float:left;
		width:400px;
		height:400px;
		margin-bottom:120px;
		margin-top:50px;
	}
	.content-box1 img{
		width:400px;
		height:400px;
	}
	.content-box2{
		float:left;
		width:400px;
	}
	.content-box2 img{
		width:400px;
		height:400px;
	}
	.content-box3{
		float:left;
		width:400px;
		height:400px;
	}
	.content-box3 img{
		width:400px;
		height:400px;
	}
	.box{
		margin-right:0;
		margin-left:0px;
		margin-top:120px;
	}
	.box2{
		margin-top:0px;
		margin-right:0px;
	}
	.box4{
		margin-top:120px;
		margin-right:0px;
	}
	.box5{
		margin-top:0px;
	}
	.more2{
		display:none;
	}
	.more3{
		display:block;
		margin-top:2030px;
	}
	.more3>a{
		padding:7px 25px;
		font-size:0.55rem;
	}
	.more4{
		display:none;
	}
	input[type="text2"]{
		width:3.5rem;
		height:1.2rem;
		font-size:0.6rem;
		background-size:0.6rem 0.6rem;
	}
	.clear{
		width:0.75rem;
		height:0.75rem;
		top:76%;
	}
	.clear::before{
		width:1px;
		height:0.4rem;
	}
	.clear::after{
		width:1px;
		height:0.4rem;
	}
}